html, body {
  margin: 0;
  height: 100%;
}

.container {
  color: #f1f1f1;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 10fr 1fr;
}


.header {
  grid-column: 1 / 2;
  justify-content: space-between;
  padding: 1em 3em;
  background-color: #606C38;
}

button {
  background-color: #283618;
  color:#f1f1f1;
  border: 1px #111 solid;
  font-size: 1em;
  align-self: center;
  padding: 1em;
  line-height: 1em;
  height: 3em;
  border-radius: 1.5em;
}

.library {
  background-color: #FEFAE0;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
  grid-auto-rows: auto;
}

.card {
  font-size: 1.3rem;
  background-color: #DDA15E;
  padding: 15px;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 13vw;
  margin-top: 3em;
}


.footer {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #606C38;
  padding: 0.5em;
}